body {
    padding-top: 5rem;
    font-family: "Oxygen","Droid Sans", "Helvetica Neue", "Helvetica", "Arial";
}


.block{
    display: block;
}

.form_container{
    margin-bottom: 1%;
}

.textbox{
    border-radius: 5px;
}


.border-style{
    margin: 0 auto;
    padding: 5px;
    width: 45%;
    background-color: white;
}
