{% extends 'base.html' %}

{% block main %}

<h1 class="pageheading"> Add Profile </h1>
<hr id="title_sep">

{% include 'flash_message.html' %}

<form action"{{url_for('profile')}}" method = "POST" entype="multipart/form-data">
    
    {{form.csrf_token }}
    <div class="form_container">
        {{form.firstname.label}}
        <br>
        {{form.firstname}}
    </div>
    <div class="form_container">
        {{ form.lastname.label}}
        <br>
        {{ form.lastname}}
    </div>
    <div class="form_container">
        {{ form.gender.label}}
        <br>
        {{form.gender}}
    </div>
    <div class="form_container">
        {{form.email.label}}
        <br>
        {{form.email}}
    </div>
    <div class="form_container">
         {{form.location.label}}
         <br>
         {{form.location}}
    </div>
    <div class="form_container">
          {{form.bibliography.label}}
          <br>
          {{form.bibliography}}
     </div>
     <div class="form_container">
         {{form.profilepic.label}}
         <br>
         {{form.profilepic}}
     </div>
     <br>
     <button type="submit" name="submit" class="submitbutton">
         Add Profile
     </button>
      
</form>
{% endblock %}